robotframework==3.1.2
robotframework-sshlibrary==3.4.0
robotframework-httplibrary==0.4.2
requests==2.24.0
dbbot==0.1
robotframework-seleniumlibrary==4.4.0
robotframework-selenium2library==3.0.0
robotframework-pabot==1.8.1
robotframework-jsonlibrary==0.3.1
